.direnv
/env/**/*.env
.ipynb_checkpoints
src/synthia/db/data
src/synthia/db
/.tests
__pycache__.env
.venv
.env
ecosystem.config.js
*__pycache__
src/synthia/miner/artificial.py
src/synthia/miner/artificial1.py
src/synthia/miner/agentartificial.py
src/synthia/miner/artificialArtificial.py
src/synthia/miner/eden_testminer.py
src/synthia/validator/agentartificial.py
src/synthia/validator/eden_test.py

