# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_MAX_TOKENS=100
OPENAI_TEMPERATURE=1.0
# Anthropic
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-v1
ANTHROPIC_MAX_TOKENS=100
ANTHROPIC_TEMPERATURE=1.0
