# OpenAI, goes for both miner and validator, although validator utilizes only OPENAI_API_KEY from this file
OPENAI_API_KEY=
# Recommend using model gpt-4-turbo-preview / gpt-4-0125-preview
OPENAI_MODEL=gpt-4-turbo-preview
OPENAI_MAX_TOKENS=250
OPENAI_TEMPERATURE=1.0
